:host {
	display: block;
	width: 130px;
	background: color-mix(in srgb, var(--ha-color-neutral-10) 90%, transparent);
	color: var(--ha-color-neutral-95);
	height: 100%;
	padding: 16px 0;
	z-index: 1;
	transition: width 0.2s;
	overflow: visible;
	position: relative;
	display: flex;
	flex-direction: column;
}

:host([collapsed]) {
	width: 0px;
	padding: 16px 0 16px 0;
}



.collapse-btn {
    position: absolute;
    top: 12px;
    right: -32px;
    background: color-mix(in srgb, var(--ha-color-neutral-10) 90%, transparent);
    border-width: medium;
    border-style: none;
    border-color: currentcolor;
    border-image: none;
    color: var(--ha-color-neutral-95);
    cursor: pointer;
    font-size: 1.2em;
    width: 32px;
    height: 32px;
    padding: 0px;
    z-index: 10;
    border-radius: 0px 10px 10px 0px;
}

.sidebar-content {
	flex: 1;
	overflow-y: auto;
}

.sidebar-section {
	margin-bottom: 24px;
	padding: 0 16px;
	transition: opacity 0.2s;
}

:host([collapsed]) .sidebar-section {
	opacity: 0;
	pointer-events: none;
	height: 0;
	padding: 0;
	margin: 0;
}

.sidebar-title {
	font-size: 1.1em;
	margin-bottom: 8px;
	font-weight: bold;
	letter-spacing: 1px;
	color: var(--ha-color-primary-60);
}

button {
	display: block;
	width: 100%;
	margin-bottom: 8px;
	padding: 10px 0;
	background: var(--ha-color-primary-60);
	color: var(--ha-color-neutral-95);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1em;
	transition:
		background 0.2s,
		transform 0.2s;
	box-shadow: 0 2px 4px
		color-mix(in srgb, var(--ha-color-neutral-10) 20%, transparent);
}

.transform-btn.selected,
.toggle-btn.selected {
	background: var(--ha-color-primary-30);
}

button:hover {
	background: var(--ha-color-primary-40);
}

button:active {
	background: var(--ha-color-primary-40);
}

button.selected {
	background: var(--ha-color-primary-30);
}

